<header>
    <nav>
        <a href="/">Squizahr™</a>
        <ul>
            <li><a href="/owners">Owners</a></li>
            <li><a href="/owners/new">Add Owner</a></li>
        </ul>
    </nav>
</header>